@import "/style/all.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;800;900&display=swap');

/* @media screen and (min-width:600px){

} */
.nav-bar {
    display: flex;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--gray);
    background-color: var(--color-primary);
    justify-content: space-between;
    margin-bottom: 2rem;
}
@media screen and (max-width: 800px){
    .nav-bar {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .search-bar {
        margin-bottom: var(--size-one-five);
    }
}
.nav-cta, .menu-bar {
    display: flex;
    gap: var(--size-one);
    align-items: center;
}

.header {
    font-size: var(--size-two-five);
    font-weight: 700;
    color: var(--white);
    font-family: 'Playfair Display', serif;
}
.search-bar {
    display: flex;
    gap: var(--size-zero-two);
}
.input-box  {
    width: 25rem;
    border: 1px solid var(--black);
    border-radius: 1rem;
    padding: var(--size-zero-five);
    outline: none;
}
.fa-search {
    font-size: 1.4rem;
}
.search-btn{
    border: 0;
    background: none;
}
.badge {
    position: relative;
    width: min-content; 
}
.badge>span {
    position: absolute;
    border-radius: 50%;
    text-align: center;
}
.badge-red {
    background-color: var(--red);
}
.badge-ic {
    width: var(--size-one);
    height: var(--size-one);
    font-size: 0.8rem;
    font-weight: bold;
    left: var(--size-one-five);
    bottom: var(--size-one-five);
    color: var(--white);
}
.login-btn {
    width: var(--size-three);
    height: var(--size-two);
    border: 1px solid var(--gray);
    padding: var(--size-zero-two);
    background-color: var(--white);
    border-radius: var(--size-zero-three);
    text-align: center;
    font-size: var(--size-one);
    font-weight: bold;
}
a.login-btn {
    color: var(--color-primary);
}
a.prod-btn {
    width: var(--size-five);
}
section {
    margin-bottom: var(--size-two);
}

.link-btn {
    color: var(--white);
}


.hero-img {
    width: 100%;
    height: 500px;
}
.prod-genre {
    display: flex;
    justify-content: center;
}
.watch-genre {
    display: flex;
    flex-direction: column;
}
.watch-wm, .watch-m {
    width: 80%;
    max-width: 600px;
    height: 300px;
    max-height: 400px;
    margin-bottom: var(--size-two);
}
.prod-gen-title {
    border: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);
    width: 40%;
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}