<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/wishlist/wishlist.css">
    <title>HomePage</title>
</head>

<body>
    <nav class="nav-bar">
        <header class="header">WATCHKART</header>
        <div class="menu-bar">
            <a class="link-btn login-btn" href="/index.html">Home</a>
            <a class="link-btn login-btn prod-btn" href="/components/products/men-prod.html">Product</a>
        </div>
        <div class="search-bar"><input type="text" placeholder="search watches and acces.." class="input-box">
            <button class="search-btn"><i class="fa fa-search"></i></button>
        </div>

        <div class="nav-cta">
            <a class="link-btn login-btn" href="/components/login-page/login.html">login</a>
            <a class="link-btn wishlist" href="/components/wishlist/wishlist.html">
                <div class="badge-icon-wrap">
                    <i class="fa-solid fa-heart fa-2x"></i>
                    <div class="badge"><span class="badge-ic badge-red color-white">2</span></div>
                </div>
            </a>
            <a class="link-btn cart" href="/components/cart-page/cart.html">
                <div class="badge-icon-wrap">
                    <i class="fa-solid fa-cart-plus fa-2x"></i>
                    <div class="badge"><span class="badge-ic badge-red color-white">2</span></div>
                </div>
            </a>
        </div>
    </nav>

    <div class="wishlist-container">
        
        <!-- Wishlist Heading -->
        <header class="wishlist-header">Our wishlist Items</header>
        
        <!-- Poduct container -->
        <div class="product-container">


            <!-- Product1 -->

            <div class="card-layout">
                <div class="wrapper-card card-dimension">
                    <img class="card-img pos-img" src="/asset/rolex.jpg" />
                    <div class="card-header">
                        <h3 class="card-def">ROLEX WATCH</h3>
                    </div>
                    <blockquote class="margin-bottom-zero-five">
                        OG of all watch
                    </blockquote>
                    <p class="margin-bottom-one"><strong>$1800 </strong><small>$2000 </small> <strong>(20%
                            off)</strong></p>

                    <button class="cart-btn fluid"><i class="fa-solid fa-cart-shopping fa-2x"></i></button>

                    <div class="menu-cotainer"><button class="icon-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z"/></svg>
                        </button>
                        <button class="wish-btn">
                            <i class="fa fa-share-alt fa-2x"></i>
                        </button>
                        <button class="wish-btn">
                            <i class="fa fa-ellipsis-v fa-2x"></i>
                        </button></div>
                </div>
            </div>

            <!-- Product2 -->

            <div class="card-layout">
                <div class="wrapper-card card-dimension">
                    <img class="card-img" src="/asset/rolex.jpg" />
                    <div class="card-header">
                        <h3 class="card-def">ROLEX WATCH</h3>
                    </div>
                    <blockquote class="margin-bottom-zero-five">
                        OG of all watch
                    </blockquote>
                    <p class="margin-bottom-one"><strong>$1800 </strong><small>$2000 </small> <strong>(20%
                            off)</strong></p>

                    <button class="cart-btn fluid"><i class="fa-solid fa-cart-shopping fa-2x"></i></i></button>
                    <div class="menu-cotainer"><button class="icon-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z"/></svg>
                        </button>
                        <button class="wish-btn">
                            <i class="fa fa-share-alt fa-2x"></i>
                        </button>
                        <button class="wish-btn">
                            <i class="fa fa-ellipsis-v fa-2x"></i>
                        </button></div>
                </div>
            </div>

            <!-- Product 3 -->

            <div class="card-layout">
                <div class="wrapper-card card-dimension">
                    <img class="card-img pos-img" src="/asset/rolex.jpg" />
                    <div class="card-header">
                        <h3 class="card-def">ROLEX WATCH</h3>
                    </div>
                    <blockquote class="margin-bottom-zero-five">
                        OG of all watch
                    </blockquote>
                    <p class="margin-bottom-one"><strong>$1800 </strong><small>$2000 </small> <strong>(20%
                            off)</strong></p>

                    <button class="cart-btn fluid"><i class="fa-solid fa-cart-shopping fa-2x"></i></i></button>
                    <div class="menu-cotainer"><button class="icon-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z"/></svg></i>
                        </button>
                        <button class="wish-btn">
                            <i class="fa fa-share-alt fa-2x"></i>
                        </button>
                        <button class="wish-btn">
                            <i class="fa fa-ellipsis-v fa-2x"></i>
                        </button></div>
                </div>
            </div>

            <!-- Product 4 -->

            <div class="card-layout">
                <div class="wrapper-card card-dimension">
                    <img class="card-img pos-img" src="/asset/rolex.jpg" />
                    <div class="card-header">
                        <h3 class="card-def">ROLEX WATCH</h3>
                    </div>
                    <blockquote class="margin-bottom-zero-five">
                        OG of all watch
                    </blockquote>
                    <p class="margin-bottom-one"><strong>$1800 </strong><small>$2000 </small> <strong>(20%
                            off)</strong></p>

                    <button class="cart-btn fluid"><i class="fa-solid fa-cart-shopping fa-2x"></i></i></button>
                    <div class="menu-cotainer"><button class="icon-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z"/></svg>
                        </button>
                        <button class="wish-btn">
                            <i class="fa fa-share-alt fa-2x"></i>
                        </button>
                        <button class="wish-btn">
                            <i class="fa fa-ellipsis-v fa-2x"></i>
                        </button></div>
                </div>
            </div>

            <!-- Product 5 -->

            <div class="card-layout">
                <div class="wrapper-card card-dimension">
                    <img class="card-img pos-img" src="/asset/rolex.jpg" />
                    <div class="card-header">
                        <h3 class="card-def">ROLEX WATCH</h3>
                    </div>
                    <blockquote class="margin-bottom-zero-five">
                        OG of all watch
                    </blockquote>
                    <p class="margin-bottom-one"><strong>$1800 </strong><small>$2000 </small> <strong>(20%
                            off)</strong></p>

                    <button class="cart-btn fluid"><i class="fa-solid fa-cart-shopping fa-2x"></i></button>

                    <div class="menu-cotainer"><button class="icon-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z"/></svg>
                        </button>
                        <button class="wish-btn">
                            <i class="fa fa-share-alt fa-2x"></i>
                        </button>
                        <button class="wish-btn">
                            <i class="fa fa-ellipsis-v fa-2x"></i>
                        </button></div>
                </div>
            </div>

            <!-- Product 6 -->

            <div class="card-layout">
                <div class="wrapper-card card-dimension">
                    <img class="card-img" src="/asset/rolex.jpg" />
                    <button class="heart-icon"></button>
                    <div class="card-header">
                        <h3 class="card-def">ROLEX WATCH</h3>
                    </div>
                    <blockquote class="margin-bottom-zero-five">
                        OG of all watch
                    </blockquote>
                    <p class="margin-bottom-one"><strong>$1800 </strong><small>$2000 </small> <strong>(20%
                            off)</strong></p>

                    <button class="cart-btn fluid"><i class="fa-solid fa-cart-shopping fa-2x"></i></i></button>
                    <div class="menu-cotainer"><button class="icon-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z"/></svg>
                        </button>
                        <button class="wish-btn">
                            <i class="fa fa-share-alt fa-2x"></i>
                        </button>
                        <button class="wish-btn">
                            <i class="fa fa-ellipsis-v fa-2x"></i>
                        </button></div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>