@import "/main.css";

.login-header {
    text-align: center;
    font-size: var(--size-two);
    font-family: var(--font-dosis);
    color: var(--blue);
    margin-bottom: var(--size-two);
    font-weight: 700;
}
.email-info, .pwd-info {
    font-size: var(--size-one);
    margin-bottom: var(--size-zero-five);
    font-weight: bold;
}
.login-layout {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 30rem;
    border: 1px solid var(--black);
    margin: auto;
    align-items: center;
    justify-content: center;
    
}
.email-box {
    margin-bottom: var(--size-two);
}
.input-email, .input-pwd {
    width: 15rem;
    border: 1px solid var(--gray);
    padding: var(--size-zero-five);
    margin-bottom: var(--size-zero-two);
}
div.input-pwd {
    margin-bottom: var(--size-zero-two);
}

.log-in-btn {
    width: 6rem;
    font-size: var(--size-one-two);
    border: 1px solid var(--black);
    padding: var(--size-one);
    border-radius: var(--size-zero-two);
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    margin:var(--size-zero-five ) auto 0 auto;
}
.remember-me {
    margin-right: 8rem;
    color: var(--blue);
}
.forgot-btn {
    margin-top: 1rem;
    margin-left: 10rem;
    margin-bottom: var(--size-two);
    text-decoration: underline;
}
.new-acct {
    margin-right: 7rem;
}
